.heading-container{
    border-bottom: 1px solid white;
    margin-bottom: 20px;
}
.heading-container > h2{
    font-weight: 800;
}
.month{
    font-size: 25px;
}
.habit-tracker-wrapper{
    margin: 15px 0px 15px 0px;
    width: 100%;
}
