.habit-title-container {
    margin: 2px;
    display: flex;
    justify-content: left;
    padding-left: 10px;
    justify-content: space-between;
}

.habit-title-container > h3{
    font-size: 20px;
}

.box {
    border: 1px solid #b8787f;
    width: 30px;
    height: 30px;
    background-color: #EACBD2;
    display: inline-block;
    margin: 2px;
}

.button_remove {
    margin-left:10px;
    width: 25px;
    height: 25px;

    border: 0px solid #b8787f;
    background-color: #EACBD2;
    justify-content: center;
    vertical-align: super;
    display: flex;
}
.habit-tracker-container{
    margin: 5px 0px 10px 5px;
}